::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif, "Rubik";
  color: #413e6a;
  background-color: #f4f3ef;
}

.bricolage-grotesque <bigType > {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.rubik <smallType > {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  color: #413e6a;
  background-color: #f4f3ef;
}

.align {
  display: grid;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  /*position: fixed;*/
  background-color: #f4f3ef;
  border-bottom: 2px solid #413e6a;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

p {
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style-type: none;
  list-style: none;
}

.headerLogo {
  margin: 0px 0px 0px 120px;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 0px 120px 0px 0px;
}

.headerLinks {
  padding-left: 160px;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 160px;
  line-height: 1em;
  margin: 0px;
}

h2 {
  color: #413e6a;
  font-family: font-family: "Bricolage Grotesque", sans-serif;
  font-size: 64px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #413e6a;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  font-family: font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  line-height: 1em;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h5 {
  font-family: font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  object-fit: contain;
}

.landingPage {
  margin-top: 40px;
  column-gap: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.landingPage__txt {
  padding: 40px 0px;
}

.landingPage__txt_S {
  margin-top: 40px;
  padding: 16px 0px;
}

.landingPage__botao {
  display: inline-flex;
  column-gap: 16px;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 8px 24px;
}

.landingPage__img {
  max-width: 480px;
  object-fit: contain;
}

.homePortfolio {
  width: auto;
  padding: 80px 120px;
  background-color: #413e6a;
  color: #f4f3ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 120px 0px;
}

.homePortfolio__link_L {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 144px;
  font-size: 48px;
  color: #f4f3ef;
  border-bottom: 2px solid #f4f3ef;
}

.homePortfolio__flex {
  width: 100%;
}

.sobreMim {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  padding: 0px 120px 80px 120px;
}

.sobreMim__img {
  object-fit: contain;
}

.blogHome {
  display: flex;
  flex-direction: column;
justify-content: flex-end;
  color: #413e6a;
  max-width: 60%;
  padding: 80px 0px;
  border-bottom: 2px solid #413e6a;
  border-top: 2px solid #413e6a;
}

.blogHome__title {
  color: #413e6a;
}

.blogHome__post {
  padding: 40px 0px;
}

.blogHome__txt {
  text-decoration: none;
  padding: 24px 0px;
}

.blogHome__buttom {
  display: inline-flex;
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 8px;
}

.blogHome__verTudo {
  display: flex;
  justify-content: center;
  color: #f4f3ef;
  background-color: #413e6a;
  font-family: font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  padding: 8px 16px;
}

.contatoHome {
  margin: 80px 0px;
  max-width: 787px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  margin: 24px 0px;
  
}

textarea {
  margin: 24px 0px;
}

.contatoHome__form {
  display: inline;
  align-items: flex-start;
  width: 100%;
}

.contatoHome__txt {
  margin: 24px 0px;
}

input {
  width: 100%;
  margin-top: 8px;
  border: #413e6a 1px solid;
  padding: 12px;
  font-size: 12px;
}

input,
textarea {
  margin-top: 16px;
  width: 100%;
  padding: 8px;
  border: 1px solid #413e6a;
  background-color: #f4f3ef;
  font-family: "Rubik", sans-serif;
  color: #413e6a;
  font-size: 12px;
}

input,
text {
  width: 100%;
 height: 100%;
  border: 1px solid #413e6a;
  background-color: #f4f3ef;
}

input,
email {
  width: 100%;
 height: 100%;
  border: 1px solid #413e6a;
  background-color: #f4f3ef;
}

.contatoHome__button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #413e6a;
  border: none;
  font-family: "Rubik", sans-serif;
  color: #f4f3ef;
  font-weight: 600;
  width: 100%;
}

footer {
  color: #f4f3ef;
  width: 100%;
  height: 100%;
}

footer,
a {
  color: #f4f3ef;
  font-size: 12px;
  padding: 4px 0px;
}

.footerMain {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding: 40px;
  background-color: #413e6a;
  color: #f4f3ef;
}

.footerMain__txt {
  font-size: 12px;
  margin: 16px 0px;
  max-width: 33%;
}

.footerMain__socialMedia {
  margin-top: 40px;
  display: flex;
  gap: 0px 24px;
}

.footerMain__map {
  color: #f4f3ef;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.footerMain__mapItem {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 8px 40px;
}

/*.footerMain {
  font-size: 12px;
  padding: 40px\;
}*/

/*
h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 120px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 90%;
}

h1 > p {
  margin: 0px;
  font-size: 20px;
  font-weight: 800;
  margin: 40px 0px 40px 0px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-block-start: 4em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  padding: 80px 0px 0px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

aside {
  font-size: 12px;
}

.home__hero {
  display: flex;
  align-content: center;
  align-items: center;
}

.home__textos {
  margin-left: 40px;
  align-content: space-around;
}

.home__textos__menor {
  padding-top: 40px;
}

.home__botao {
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 8px 24px 8px 24px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 40px;
}

.portfolio__home {
  display: block;
  margin: 40px 0px 40px 0px;
  height: 720px;
  color: #f4f3ef;
  background-color: #413e6a;
  display: list-item;
  border-bottom: 2px #f4f3ef;
}

.portfolio__home__links {
  margin: 80px 0px 80px 0px;
  justify-content: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 64px;
  font-weight: 200;
}

.portfolio__home__links__texto {
  margin: 40px 0px 40px 0px;
  justify-content: center;
  text-align: center;
}

.sobre {
  border-top: #413e6a 2px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  align-items: flex-start;
  height: 1200px;
}

.sobre_esquerda {
  width: 100%;
}

.sobre_centro {
  margin: 40px;
}

.sobre__direita {
  margin-top: 24px;
}
*/
