::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif, "Rubik";
  text-decoration: none;
  text-emphasis-style: none;
}

body {
  color: #413e6a;
  background-color: #f4f3ef;
  text-decoration-style: none;
  text-decoration: none;
}

a,
h1,
h2,
h4,
h5,
h6,
ul,
li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  text-decoration-line: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  max-width: 100%;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: medium;
}

header {
  border-bottom: 1px solid #413e6a;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 120px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 120px;
  line-height: 100%;
}

h2 {
  font-size: 56px;
  text-decoration: none;
  text-emphasis-color: none;
}

h3 {
  font-size: 20px;
  color: #413e6a;
  text-decoration: none;
}

h4 {
  font-size: 16px;
  text-decoration: none;
}

.landingPage {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #413e6a;
  background-color: #f4f3ef;
  gap: 0px 80px;
  margin: 40px 120px;
  padding: 0px 0px 80px 0px;
}

.landingPage__txt {
  display: flex;
  flex-direction: column;
  gap: 40px 0px;
}

.landingPage__btn {
  display: inline-flex;
  align-items: center;
  gap: 0px 16px;
  font-weight: 600;
  text-decoration: none;
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 16px 24px;
}

.landingPage__btn:hover {
  background-color: #2f71af;
}

.portfolioHome {
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 80px 120px;
}

.portfolioHome a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f4f3ef;
  font-size: 56px;
  font-weight: 100;
}

.portfolioHome__lnk {
  border-bottom: 1px solid #f4f3ef;
  padding: 40px 0px;
}

.portfolioHome__lnk:hover {
  color: rgb(26, 158, 235);
  font-weight: 400;
}

.portfolioHome__lnk_lst {
  padding: 40px 0px;
}

.portfolioHome__lnk_lst:hover {
  color: rgb(26, 158, 235);
  font-weight: 400;
}

.sobreMim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px 0px;
  margin: 80px 120px;
}

.sobreMim img {
  max-width: 80%;
  object-fit: contain;
  display: flex;
}

.sobreMim__txt {
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom: #413e6a 1px solid;
  border-top: #413e6a 1px solid;
  padding: 80px 0px;
}

.sobreMim p {
  font-size: 16px;
  text-align: justify;
  grid-column-start: 2;
  grid-column-end: 4;
}

.blogHome__main {
  border-bottom: #413e6a 1px solid;
  padding: 0px 0px 48px 0px;
}

.blogHome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 48px 0px;
  margin: 80px 120px;
  color: #413e6a;
}

.blogHome h2 {
  color: #413e6a;
  text-decoration: none;
}

.blogHome h2:hover {
  color: rgb(26, 158, 235);
}

.blogHome__ttl {
  grid-column-start: 2;
  grid-column-end: 4;
  gap: 24px 0px;
  color: #413e6a;
}

.blogHome__post {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  gap: 16px 0px;
  border-bottom: #413e6a 1px solid;
  padding: 0px 0px 48px 0px;
}

.blogHome__post img {
  max-width: 100%;
}

.blogHome__post p {
  flex-grow: 1;
}

.blogHome__post h4 {
  color: #f4f3ef;
  text-decoration: none;
}

.blogHome__leia {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px 16px;
  font-weight: 600;
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 8px 16px;
  max-width: 80px;
}

.blogHome__leia:hover {
  background-color: rgb(26, 158, 235);
}

.blogHome__btn_all {
  text-decoration: none;
  color: #f4f3ef;
  background-color: #413e6a;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 48px 0px;
  font-weight: 600;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.blogHome__btn_all:hover {
  background-color: rgb(26, 158, 235);
}

.blogHome__btn_all h4 {
  color: #f4f3ef;
}

.contatoHome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 80px 120px;
  color: #413e6a;
  gap: 24px 0px;
}

.contatoHome h2 {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #413e6a;
}

.contatoHome h2:hover {
  color: rgb(26, 158, 235);
}

.contatoHome__txt {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
}

.contatoHome__form {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  font-weight: 600;
  margin: 40px 0px;
}

.contatoHome__form__input {
  display: flex;
  margin-bottom: 24px;
}

.contatoHome__form__input label {
  width: 20%;
}

.contatoHome__form__input input,
.contatoHome__form__input textarea {
  width: 80%;
  padding: 4px;
  box-sizing: border-box;
  border: #413e6a 1px solid;
  background-color: #fffefc;
}

button {
  color: white;
  border: none;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: #f4f3ef;
  background-color: #413e6a;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

button:hover {
  background-color: rgb(26, 158, 235);
}

footer {
  display: flex;
  color: #f4f3ef;
  background-color: #413e6a;
  padding: 80px 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer:hover {
  background-color: rgb(26, 158, 235);
}

footer p,
footer a {
  font-size: 12px;
  color: #f4f3ef;
}

.footer__txt__main {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footer__txt__main__icn {
  display: flex;
  padding: 24px 0px 0px 0px;
  gap: 0px 24px;
}

.footer__txt__map {
  display: flex;
  gap: 0px 40px;
  color: #f4f3ef;
  text-decoration: none;
  flex-wrap: wrap;
}

.footer__txt__map__lnk {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
}
